body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pack {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#pack button {
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

#card-display {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 15rem;
    height: auto;
    background-size: cover;
}

.card img, #pack img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    main {
        min-height: 100dvh;
    }

    #pack {
        gap: 1rem;
        justify-content: center;
        position: fixed;
        bottom: 3rem;
        left: 0;
        right: 0;
        padding: 1rem;
    }

    #pack button {
        width: 20%;
    }

    #card-display {
        justify-content: center;
        gap: 1rem;
    }

    .card {
        width: 25%;
    }
}

@media (min-width: 1920px) {
    .card {
        width: 30rem;
    }
}